.wrap {
    width: 50%;
    margin: 0 auto;
    font-family: 'Noto Serif KR', serif;
    padding: 50px;
    box-sizing: border-box;
}

.wrap h1 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 30px;
    font-weight: bold;

}

.wrap h1 span {
    font-size: 20px;
    float: right;
    font-weight: normal;

}

.wrap img {
    width: 100%;
}

.wrap .detail {
    margin: 30px 0;
    text-align: justify;
    line-height: 25px;
    color: #5d5d5d;
}

.wrap .order_info .form-control::placeholder {
    color: #c0c0c0;
}

.wrap .input_size {
    width: 20%;
    border-radius: .25rem 0 0 .25rem;
    border-right: 0;
    font-weight: bold;
    background-color: #545b62;
    color: #fff;
    border: #4e555b;
}

.btn_base_wrap {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn_base_wrap button {
    width: 33%;
}